
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i|Varela+Round');



$gris-1 : #666666;
$verde-1: #10b967;
$openSans: 'Open Sans', sans-serif;
$varelaRound: 'Varela Round', sans-serif;


[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Make `a` like a button */
[role="button"] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

a{
    &:hover{
        transition: color 1s;
    }
}

header{

    padding: 30px 0;
    overflow: hidden;
    .logo{
        min-width: 225px;
        height: auto;
        overflow: hidden;
        float:left;

        svg{
            width: 100%;
            height: auto;
        }
    }
    .top-header{

        display:flex;
        justify-content:flex-end;
        padding-bottom: 20px;
        border-bottom: 3px solid #f2f2f2;
        margin-bottom: 30px;

    }

    nav{
        
        ul{
            width: 100%;
            display:flex;
            justify-content:flex-end;
            li{
                font-size: 14px;
                text-transform: uppercase;
                padding: 0 25px;
                list-style: none;

                &:last-child{
                    padding-right: 0;
                }

                a{
                    color: $gris-1;

                    &.active{
                        color: $verde-1;
                    }

                    &:hover{
                        color: $verde-1;
                    }
                }
            }
        }
    }
}

#intro{
    width: 100%;
    background: url('../assets/img/img-01.jpg') no-repeat center top;
    min-height: 500px;
    background-size: cover;
    position: relative;

    .text{
        color: white;
        text-align: center;
        padding-top: 50px;
        @media (min-width: 768px) {
            text-align: right;
            padding-top: 200px;
         }
    }

    h1{
        font-family: $varelaRound;
        @media (min-width: 768px) {
            font-size: 35px;
        }
    }

    h2{
        font-family: $openSans;
        font-size: 20px;
        @media (min-width: 768px) {
            font-size: 30px;
        }
    }

    .relative{
        position: relative;
        width: 100%;
        height: 100%;
    }

    .iso{
        width: 100%;
        height: 100px;
        display: block;
        text-align: center;
        @media (min-width: 768px) {
            width: 212px;
            height: 212px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }



        img{
            padding-top: 50px;
            width: 100px;
            @media (min-width: 768px) {
                width: 100%;
            }
        }

    }
}


.sociales{
    margin-right: 30px;
    i{
        width: 20px;
        height: 20px;
        display: inline-block;
        &.tw{
            background: url('../assets/img/ico-tw.jpg');
        }
        &.fb{
            background: url('../assets/img/ico-fb.jpg');
        }
        &.ins{
            background: url('../assets/img/ico-ins.jpg');
        }
    }

    a{
        span{
            color: $gris-1;
            font-size: 14px;
        }
    }
}

.location{
    font-size: 14px;
    color: $gris-1;
    padding-left: 15px;
    background: url('../assets/img/ico-pin.jpg') left top no-repeat;


    
}


.contenido{
    width: 68.75%;
    margin: 0 auto;
    padding: 83px 0;



    dl{
        font-size: 14px;
        dt{
            font-weight: 700;
            margin-bottom: 10px;
            color: black;
        }
        dd{
            font-weight: 300;
            padding: 0;
            margin:0 0 30px 0;
            color: $gris-1;
            line-height: 130%;
        }
    }


}

.row-special{

    background: #e4e4e4;

    position: relative;
    &:after{
        content: ' ';
        width: 15px;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        

       
        background: #fb003a; 
        background: -moz-linear-gradient(top,  #fb003a 0%, #fb003a 25%, #fabd29 26%, #fabd29 50%, #10b967 51%, #10b967 75%, #17aae6 76%, #7db9e8 100%); 
        background: -webkit-linear-gradient(top,  #fb003a 0%,#fb003a 25%,#fabd29 26%,#fabd29 50%,#10b967 51%,#10b967 75%,#17aae6 76%,#7db9e8 100%); 
        background: linear-gradient(to bottom,  #fb003a 0%,#fb003a 25%,#fabd29 26%,#fabd29 50%,#10b967 51%,#10b967 75%,#17aae6 76%,#7db9e8 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb003a', endColorstr='#7db9e8',GradientType=0 ); 

    }

    h2{
        font-family: $varelaRound;
        font-size: 36px;
        margin-bottom: 40px;
    }
    .white{

        background: white;
    
        h2{
            color: $verde-1;
        }


    }
    
    .green{
        background: $verde-1;
        color: white;
        
        p{
            font-weight: 300;
            padding: 0;
            margin:0 0 30px 0;
            line-height: 130%;
        }


    }

    &.right{
        &:after{
            left: 0;
        }
    }

    &.left{
        &:after{
            right: 0;
        }
    }
}

#contacto{
    padding: 70px 0;
    background: url('../assets/img/bg-contacto.svg') center top no-repeat;
    background-size: cover;
     .top{
        margin-bottom: 0px;
        @media (min-width: 768px) {
            margin-bottom: 35px;
        }
       div{
           margin-bottom: 20px;
        @media (min-width: 768px) {
           width: 30%;
           margin-bottom: 0;
        }
       }
     }

     form{
         input, textarea{
             border: 2px solid #E4E4E4;
             height: 37px;
             font-size: 12px;
             color: $gris-1;
             width: 100%;
             padding: 0 15px;

         }

         textarea{
             padding: 15px;
             min-height: 150px;
             margin-bottom: 45px;
         }

         ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            text-transform: uppercase;
          }
          ::-moz-placeholder { /* Firefox 19+ */
            text-transform: uppercase;
          }
          :-ms-input-placeholder { /* IE 10+ */
            text-transform: uppercase;
          }
          :-moz-placeholder { /* Firefox 18- */
            text-transform: uppercase;
          }

          button{
              background: #17AAE6;
              color: white;
              width: 120px;
              font-weight: 700;
              font-size: 14px;
              padding: 15% 0;
          }
     }

     h2{
         text-align: center;
        color: $verde-1;
     }
}

footer{
    
    width: 100%;
    background: $gris-1;
    line-height: 66px;
    padding-top: 15px;
    position: relative;

    &:after{
        content: '';
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb003a+0,fb003a+25,fabd29+25,fabd29+50,10b967+50,10b967+75,17aae6+75,7db9e8+100 */
        background: #fb003a; /* Old browsers */
        background: -moz-linear-gradient(left,  #fb003a 0%, #fb003a 25%, #fabd29 25%, #fabd29 50%, #10b967 50%, #10b967 75%, #17aae6 75%, #7db9e8 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #fb003a 0%,#fb003a 25%,#fabd29 25%,#fabd29 50%,#10b967 50%,#10b967 75%,#17aae6 75%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #fb003a 0%,#fb003a 25%,#fabd29 25%,#fabd29 50%,#10b967 50%,#10b967 75%,#17aae6 75%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb003a', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */


    }

    p{
        color: white;
        margin: 0;
    }
}

.img-03{
    background: url('../assets/img/img-03.jpg');
    background-size: cover;
    display:none;
    @media (min-width: 768px) {
        display:block;
    }

}

.img-02{
    background: url('../assets/img/img-02.jpg');
    background-size: cover;
    display:none;
    @media (min-width: 768px) {
        display:block;
    }

}