<header>
    <div class="container-fluid">
        <div class="row">
            <div class="logo col-md-3 col-lg-3 col-sm-3 col-sm-3 col-xs-12">
                <img src="../assets/img/logo-kimun-02.svg" alt="">
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-sm-8 col-xs-12 offset-md-1 offset-sm-1 offset-lg-1">
                <div class="d-none d-sm-block">
                    <div class="top-header">
                        <div class="sociales">
                            <!--<i class="tw"></i>-->
                            <a href="https://www.facebook.com/KimunHuertasEducativas" target="_blank"><i class="fb"></i></a>
                            <!--<i class="ins"></i>-->
                        </div>
                        <div class="location">Ubicanos en: Padre Mariano 391, Of. 704.</div>
                    </div>
                </div>

                <nav id="menu" class="d-none d-sm-block">
                    <ul>
                        <li>
                            <a href="#mision" class="active">Misión</a>
                        </li>
                        <li>
                            <a href="#mision">Visión</a>
                        </li>
                        <li>
                            <a href="#mision">Objetivo</a>
                        </li>
                        <li>
                            <a href="#laboratorio">Nuestro Laboratorio</a>
                        </li>
                        <li>
                            <a href="#contacto">Contacto</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


    </div>
</header>
<section id="intro">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="relative">
                    <div class="iso">
                        <img src="../assets/img/isotipo.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="contenido text">
                    <h1>Kimün Huertas Educativas</h1>
                    <h2>Un laboratorio inclusivo al aire libre
                        <br/>¡Súmate a la experiencia!</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mision" class="right row-special">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-6 img-02">&nbsp;</div>
            <div class="col-md-6 col-lg-6 white">
                <div class="contenido ">
                    <h2>¿QUÉ ES KIMÜN?</h2>
                    <dl>
                        <dt>Misión</dt>
                        <dd>Entregar una formación integral a todos los participantes de manera interdisciplinaria y transversal
                            a sus tareas escolares, creando hábitos de convivencia, trabajo y estudio en un plan común, permitiendo
                            desarrollar al máximo sus capacidades y habilidades siendo constructores de sus propios conocimientos.</dd>

                        <dt>Visión</dt>
                        <dd>Formar en valores y actitudes necesarios para enfrentar y transformar la sociedad en un mundo empático
                            con nuestros pares y más consciente de nuestra naturaleza.</dd>

                        <dt>Objetivo</dt>
                        <dd>Fomentar, en la comunidad educativa, el respeto y el cuidado del medio ambiente. Utilizando el trabajo
                            en la huerta como medio de aprendizajes significativos.</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="laboratorio" class="left row-special">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-lg-9 green">
                <div class="contenido ">
                    <h2>Nuestro
                        <br/>Laboratorio</h2>

                    <p>Cada taller impartido por nuestro proyecto educativo Kimün huertas, desafía a los estudiantes a buscar
                        soluciones a las distintas problemáticas medioambientales. Los talleres tienen una estructura de
                        una clase, que posee: inicio, desarrollo y cierre. En estas sesiones los estudiantes construirán
                        dos tipos de huertas: una comestible y otra medicinal. Seleccionando vegetales y hierbas acorde a
                        la temporada y a las necesidades y requerimientos de cada Institución.
                    </p>

                    <p>Todos los talleres planificados por huertas educativas KIMUN, se elaboraron con el DUA, diseño universal
                        de aprendizaje. Esto permite que nuestras clases sean completamente inclusivas para niños y niñas
                        con distintas necesidades educativas.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 img-03">
                &nbsp;
            </div>
        </div>
    </div>
</section>
<section id="contacto">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>CONTÁCTENOS</h2>

                <app-contact-form></app-contact-form>

                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="sociales d-block d-sm-none mt-3" >
                    <!--<i class="tw"></i>-->
                    <a href="https://www.facebook.com/KimunHuertasEducativas" target="_blank">
                        <i class="fb"></i>
                        <span>Visítanos en Facebook</span>    
                    </a>
                    <!--<i class="ins"></i>-->
                </div>
                <div class="location d-block d-sm-none">Padre Mariano 391, Of. 704.</div>
            </div>
        </div>
    </div>
</section>

<footer>
  <div class="container">
      
  <p>© Kimün Huertas Educativas 2017.</p>   
     
  </div>
</footer>